<% include ../partials/header %>


<section class="probootstrap_section" id="individualevent">
  <div class="container">
    <div class="row justify-content-center mb-5">
      
      <div class="col-md-12 mb-5 probootstrap-animate">
        <h1>CADSTER</h1>
      </div>
      
      <div class="col-md-12 mb-5 probootstrap-animate">
        <a href="https://www.thecollegefever.com/events/wings19" role="button" target="_blank" class="btn">
          Register
        </a> 
      </div>
      
      <div class="col-md-12 mb-5 probootstrap-animate">
        <strong><h4>Event structure</h4></strong>
        <p> 
          <h5>Round 1 : </h5>
          <strong>Aptitude test</strong><br>
          <em>Venue   : </em>ME2<br>
          <em>Date : </em>25/01/2019<br>
          20 questions on basic mathematics & mental ability and 20 questions on CAD 
          softwares.<br>
          <br>
          <h5>Round 2 :</h5>          
          <strong>Part Design test</strong><br>
          <em>Venue : </em>CAD lab<br>
          <em>Date : </em>25/01/2019<br>
          An orthographic view will be shown to you and you have to make a 
          3D model out of it in your software.<br>
          <br>
          <h5>Round 3 :</h5>
          <strong>Assembly Design test</strong><br>
          <em>Venue :</em>CAD lab<br>
          <em>Date :</em>26/01/2019<br>
          One object will be told and each team has to design it and make a 3D model.<br>
        </p>
      </div>
      
      <div class="col-md-12 mb-5 probootstrap-animate">
        <strong><h4>Entry Fee</h4></strong>
        <p>₹200/-</p>
      </div>
      
      <div class="col-md-12 mb-5 probootstrap-animate">
        <strong><h4>Prize</h4></strong>
        <p>Prizes worth ₹4000/-</p>
      </div>

      <div class="col-md-12 mb-5 probootstrap-animate">
        <strong><h4>Event Head</h4></strong>
        <p>
          Vaishnavi Sahutre : +91 70386 25777<br>
        </p>
      </div>
    
    </div>
  </div>
</section>


<% include ../partials/footer %>