<% include ../partials/header %>


<section class="probootstrap_section" style="background-image:url(/assets/images/neonlife.jpg)">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-12 mb-5 probootstrap-animate">
        <h1>CADSTER</h1>
      </div>
      
      <div class="col-md-12 mb-5 probootstrap-animate">
          <strong><h4>Event structure</h4></strong>
        <p> 
          <h5>Round 1 : </h5>
          <strong>Aptitude test</strong><br>
          <em>Venue   : </em>ME2<br>
          <em>Date : </em>25/01/2019<br>
          <em>Time : </em>11:00 am to 11:45am<br>
          <br>
          <h5>Round 2 :</h5>          
          <strong>Part Design test</strong><br>
          <em>Venue : </em>CAD lab<br>
          <em>Date : </em>25/01/2019<br>
          <em>Time :</em>02:00 pm to 05:00 pm<br>
          <br>
          <h5>Round 3 :</h5>
          <strong>Assembly Design test</strong><br>
          <em>Venue :</em>CAD lab<br>
          <em>Date :</em>26/01/2019<br>
          <em>Time :</em>11:00 am to 03:00 pm<br>
        </p>
      </div>
      
      <div class="col-md-12 mb-5 probootstrap-animate">
        <strong><h4>Entry Fee :</h4></strong>
        <p>Rs.200/-</p>
      </div>
    </div>
  </div>
</section>


<% include ../partials/footer %>
