<% include ../partials/header %>


<section class="probootstrap_section" style="background-image:url(/assets/images/neonlife.jpg)">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-12 mb-5 probootstrap-animate">
        <h1>CODE DATE</h1>
      </div>
      
      <div class="col-md-12 mb-5 probootstrap-animate">
        <strong><h4>Event structure</h4></strong>
        <p>
          <h5>Day 1</h5>
          <em>COMPATIBILITY TEST :</em><br>
          Two participants, preferably a male and a female would be paired up, 
          and will be tested based on their compatibility and simple coding skills. 
          A simple code problem will be provided to one member and the other has to 
          understand and code it. No language barriers, programming and linguistic.
          <h5>Day 2</h5>
          <em>DB MIND :</em><br>
          Unclutter the given database query, which are syntactically correct but shuffled, 
          organize and run the query, the testing criteria would be the correctness and 
          the time taken. 
          <h5>Day 3</h5>
          <em>QUIZZERIA :</em><br>
          A quiz with a twist. An entertaining and lively session to end with.
        </p>
      </div>
      
      <div class="col-md-12 mb-5 probootstrap-animate">
        <strong><h4>Rules :</h4></strong>
        <p>
          1) The participant completing all the hacks within the shortest time, will qualify 
          for the next round.<br>
          2) Organizers reserve rights to modify, change or suspend rules and regulations 
          at any time, if required.<br>
          3) Decisions of organisers will be final.<br>
          4) Any misbehaviour with other participants, coordinators, or organisers will 
          not be entertained, and will lead to immediate disqualification.<br>
          5) Taking any help from a person or use of any electronic device is restricted.<br>
             
          <strong>JUDGING CRITERIA :</strong><br>
          1) Participants will be judged purely on the basis of time and accuracy.<br> 
          2) In case of failure or partial success of the work at hand, 
          the portion of the task completed and time it required to do so will be taken into 
          account.
        </p>
      </div>
      
      <div class="col-md-12 mb-5 probootstrap-animate">
        <strong><h4>Entry Fee :</h4></strong>
        <p>₹50/-(2 participants)</p>
      </div>


      <div class="col-md-12 mb-5 probootstrap-animate">
          <strong><h4>Prize :</h4></strong>
          <p>
            Prizes worth ₹6000/-
          </p>
        </div>

      <div class="col-md-12 mb-5 probootstrap-animate">
        <strong><h4>Event Head :</h4></strong>
          <p>Aarti R. Tiwari : +91 88303 65734</p>
      </div>
    </div>
  </div>
</section>


<% include ../partials/footer %>
