<% include ../partials/header %>


<section class="probootstrap_section" style="background-image:url(/assets/images/neonlife.jpg)">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-12 mb-5 probootstrap-animate">
        <h1>CODING KBC</h1>
      </div>
      
      <div class="col-md-12 mb-5 probootstrap-animate">
        <strong><h4>Event Structure</h4></strong>
        <p> 
          <h5>Round 1</h5>
          <strong>Technical aptitude test :</strong><br>
          A general technical aptitude test with questions like guess the output, 
          complete the code from the options, choose correct alternative and 
          questions on C/C++/Data structures/Operating systems.<br>
          <em>Total number of questions : </em>40<br>
          <em>Time Given : </em>25 minutes<br>
          
          <h5>Round 2</h5>
          <strong>Blind Coding :</strong><br>
          Participants qualifying for the second round will be given coding statement on 
          the spot and they will have to type in the code with monitors turned off. 
          Participants with minimum errors will be promoted to next round.<br>
          1 problem statement will be given.<br> 
          <em>Total allocated time : </em>25 minutes<br>
          <em>Languages allowed : </em>JAVA only<br>
                 
          <h5>Round 3</h5>
          <strong>Technical KBC :</strong><br>
          Top few participants will be selected for the final the round.<br> 
          In the final round there will be 15 questions for each candidate and
          30 seconds will be given to answer a question. 4 Options will be 
          displayed and total of Two helplines will be available.<br>
          There will be 5 stages while proceeding towards 15th question.<br>
          <em>Every finalist who clears 3rd stage and enters into 4th stage, will be
          awarded with a headphone if he/she decides to quit.</em><br>
          <em>Every finalist who clears 4th stage and enters into 5th stage, will be
          awarded with a 16 gb pen drive if he/she decides to quit.</em><br>
          Participants who decide to quit will not be considered for winner deciding.<br>
          <h5>Scheme :</h5>
          <strong>1. Phone a friend :</strong><br>
          (60 seconds will be given for answering this question including the time on 
          phone call, starting from display of options.)<br> 
          You will have to provide a list of three contacts prior to this round . You 
          can make calls only to any one of these three contacts.<br>
          <strong>2. 50-50 :</strong><br>
          Half the options which are wrong will be dropped from your options
        </p>
      </div>
      
      <div class="col-md-12 mb-5 probootstrap-animate">
        <strong><h4>Entry Fee :</h4></strong>
        <p>Rs.50/-</p>
      </div>
      
      <div class="col-md-12 mb-5 probootstrap-animate">
        <strong><h4>Event Head :</h4></strong>
        <p>
          Yash sonwane : +91 <br>
          Hrishikesh mulavekar : +91 <br>
        </p>
      </div>
    </div>
  </div>
</section>


<% include ../partials/footer %>