<% include ../partials/header %>


<section class="probootstrap_section" style="background-image:url(/assets/images/neonlife.jpg)">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-12 mb-5 probootstrap-animate">
        <h1>ELECTROBUZZ</h1>
      </div>
      
      <div class="col-md-12 mb-5 probootstrap-animate">
        <strong><h4>Objectives :</h4></strong>
        <p>To increase the knowledge of circuit designing.</p>
      </div>
      
      <div class="col-md-12 mb-5 probootstrap-animate">
        <strong><h4>Event structure</h4></strong>
        <p>
          <h5>Round 1</h5>
          <strong>MCQ Test based on Electrical And Electronis</strong><br>
          Test comprising 50 questions (25 general aptitude + 25 technical).<br>                                                                   
          <em>Duration : </em>45min.<br>
          Organizing committee will convey message to the shortlisted teams.
          <h5>Round 2</h5>      
          <strong>CIRCUIT FIXER</strong><br>
          The task will be given to each team either designing circuit or fault finding. 
          Teams will be evaluated on the basis of output of the circuit accuracy and time.
          Result of round 2 will be declared within an hour. 
          <h5>Round 3</h5>
          <strong>Surprise Round</strong>        
        </p>
      </div>
      
      <div class="col-md-12 mb-5 probootstrap-animate">
        <strong><h4>Rules :</h4></strong>
        <p>
          1) Each member can participate individually.<br>
          2) Participating team should consist of maximum 2 members.<br>
          3) All required components for the second round will be provided by organizing team on time.<br>
          4) The decision of organizer will be final.<br>
          5) The event is only for Polytechnic ,first and second year engineering students.<br>
          6) Use of calculator is allowed.
        </p>
      </div>
      
      <div class="col-md-12 mb-5 probootstrap-animate">
        <strong><h4>Event information :</h4></strong>
        <p> 
          <em>Duration : </em>10 hrs
        </p>
      </div>

      <div class="col-md-12 mb-5 probootstrap-animate">
        <strong><h4>Entry Fee :</h4></strong>
        <p>₹60/-</p>
      </div>
      <div class="col-md-12 mb-5 probootstrap-animate">
          <strong><h4>Prize :</h4></strong>
          <p>
            Prizes worth ₹6000/-
          </p>
        </div>

      
      <div class="col-md-12 mb-5 probootstrap-animate">
        <strong><h4>Event Head :</h4></strong>
        <p>
          Reshma Suryawanshi : +91 77439 76828<br>
          Harshada Jadhav : +91 77769 46107<br>
          Ankita Patil : +91 91456 20520<br>
          Abhilasha Vasatkar : +91 90969 86725<br>
        </p>
      </div>
    </div>
  </div>
</section>


<% include ../partials/footer %>
