<% include ../partials/header %>


<section class="probootstrap_section" style="background-image:url(/assets/images/neonlife.jpg)">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-12 mb-5 probootstrap-animate">
        <h1>EPITOME</h1>
      </div>
      
      <div class="col-md-12 mb-5 probootstrap-animate">
        <strong><h4>Event structure</h4></strong>
        <p>
          <h5>Round 1</h5>
          To check the model is within the desired and given criteria.
          <h5>Round 2</h5>
          To check the load carrying capacity of the ESR.
        </p>
      </div>
      
      <div class="col-md-12 mb-5 probootstrap-animate">
        <strong><h4>Rules </h4></strong>
          <p>
            1) Participants has to prepare a elevated service reservoir model which will 
            be able to take sufficient weight.<br>
            2) For these they will be provided with newspapers, cutter and scale at the 
            competition time.<br>
            3) All the necessary data like diameter, height of the ESR will be provided at 
            the time of competition.<br>
            4) Participants can bring other essentials if they need.(glue,tape)<br>
            5) Browsing and surfing on internet for the idea will not be allowed.<br>
               Best design with essential dimensions as well as great load carrying capacity will be selected for the prize.
          </p>
      </div>

      <div class="col-md-12 mb-5 probootstrap-animate">
        <strong><h4>Event Information</h4></strong>
        <p>
          <em>Time Limit : </em>90 minutes<br>
        </p>
      </div>
      
      <div class="col-md-12 mb-5 probootstrap-animate">
        <strong><h4>Entry Fee :</h4></strong>
        <p>₹100/- (For 2+1 Participants)</p>
      </div>
      
      <div class="col-md-12 mb-5 probootstrap-animate">
          <strong><h4>Prize :</h4></strong>
          <p>
            Prizes worth ₹6000/-
          </p>
        </div>

      
      <div class="col-md-12 mb-5 probootstrap-animate">
        <strong><h4>Event Head </h4></strong>
        <p>
          Swarali Joshi : +91 83292 90364<br>
          Omkar Tamshette : +91 97305 05451<br>
          Vikas Jagdale : +91 98342 63377<br>
          Pramod Durbe : +91 976786 0890
        </p>
      </div>
      
    </div>
  </div>
</section>


<% include ../partials/footer %>