<% include ../partials/header %>


<section class="probootstrap_section" style="background-image:url(/assets/images/neonlife.jpg)">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-12 mb-5 probootstrap-animate">
        <h1>LATHE WAR</h1>
      </div>
      
      <div class="col-md-12 mb-5 probootstrap-animate">
        <strong><h4>Objectives</h4></strong>
        <p>
          Unleash your machining skills, and let in to the groove of screeching rhythms of 
          turning, facing, tapering and all you can do in a lathe club. Want to perform 
          operations on the lathe machine?? This is the event where you can show your workshop 
          practices. Participants are required to perform a set of operations on the job 
          using lathe machine for which problem statement will be declared on the spot.
          The competition of producing a mechanical component given in drawing by using 
          lathe machine. A work evaluation is done based on the surface finish, 
          time required, and dimensional accuracy.
        </p>
      </div>
      
      <div class="col-md-12 mb-5 probootstrap-animate">
        <strong><h4>Event Structure</h4></strong>
        <p>
          <h5>Round 1</h5> 
          Aptitude test based on basic of Mechanical engineering and 
          Manufacturing processes. (25 to 30 mins)<br>
          <h5>Round 2</h5>
          Material Quiz. ( 15 to 20 mins)<br>
          <h5>Round 3</h5>
          Machining of the given job. (No time limit)
        </p>
      </div>
      
      <div class="col-md-12 mb-5 probootstrap-animate">
        <strong><h4>Rules</h4></strong>
        <p>
          1) Participating team will be of 3 members.<br>
          2) All the participants should carry workshop aprons and shoes.<br>
          3) Experience of working with lathe machines is required.<br>
          4) Not more than 2 tools will be provided.<br>
          5) No extra work piece will be provided and carrying of extra material is not 
          permitted.<br>
          6) All Participants are required to report 30 min before the event starts, 
          to the reporting desk.<br>
          7) Every participant should have his college id card or at least one proof 
          of identity.<br>
          8) All the teams are required to bring the registration receipt with them.<br>
          9) In case of any inconvenience, participants are required to seek one of 
          volunteers present.<br>
          10) Any misbehavior of participant during event/rounds may lead to disqualification.<br>
          11) Participants must be present during the event at the specified time. 
          Absent participants will be automatically disqualified.<br>
          12)	Participants are required to stay up to date with the website.<br>
          13)	All the rights are reserved with WINGS 2018-19 committee.<br>
          14)	You are not allowed to use mobile internet simultaneously during the event.<br>
          15)	In case of any disputes, final wording will remain with the organizers. 
          Decision of the judges is final.<br>
          16)	Any damage to college property will be seen to by higher authority and 
          dealt with accordingly.
        </p>
      </div>

      <div class="col-md-12 mb-5 probootstrap-animate">
        <strong><h4>Entry Fee</h4></strong>
        <p>₹100/- Per Team (3 Participants)</p>
      </div>

      <div class="col-md-12 mb-5 probootstrap-animate">
          <strong><h4>Prize :</h4></strong>
          <p>
            Prizes worth ₹6000/-
          </p>
        </div>
        <div class="col-md-12 mb-5 probootstrap-animate">
            <strong><h4>Event Head :</h4></strong>
            <p>
              Sahil Bedse : +91 99878 06820<br>
              
            </p>
          </div>

    </div>
  </div>
</div>
</section>
  

<% include ../partials/footer %>