<% include ../partials/header %>


<section class="probootstrap_section" style="background-image:url(/assets/images/neonlife.jpg)">
  <div class="container">
      <div class="row justify-content-center mb-5">
          <div class="col-md-12 mb-5 probootstrap-animate">
            <h1>NITRO RACING</h1>
          </div>
          
          <div class="col-md-12 mb-5 probootstrap-animate">
            <strong><h4>Objectives</h4></strong>
            <p>
              This event involves the fabrication, testing and racing of a wireless
                    remote-controlled, 4 wheeled, IC engine powered vehicle.
            </p>
          </div>
          
          <div class="col-md-12 mb-5 probootstrap-animate">
            <strong><h4>Event Structure</h4></strong>
            <p>
              <h5>Abstract Details</h5>
              The abstract submission is mandatory and is intended to give us an idea about 
              the effort put in by the participants. The abstract must include close up 
              photos of your empty chassis, steering system and suspension system. Even if
              your car is incomplete, do send your abstracts. It helps us to make sure that 
              ready-made machines are not entertained in the qualification round.
                    
              <h5>Round 1</h5>
              <strong>Qualification Round :</strong><br>
              This round will consist of time trials. Two laps are to be completed one-by-one. 
              The best lap time will be considered and relative ranking will be done accordingly. 
              First 16 teams will be shortlisted for the next round.
              
              <h5>Round 2</h5>
              <strong>Elimination Round :</strong><br>
              Top 16 teams from first round will be selected for this round.<br>
              A modified track shall be disclosed at the time of event and each team will get
              a copy of all the details of the other teams and all teams will be given 15 
              minutes to analyze the track. Each team beginning from rank 1 will get a chance 
              to challenge any team. Any team can reject a challenge only twice, except when 
              the team is being challenged by a team ranked lower than it. If the challenge 
              thrown by a team is rejected, the next ranked team gets the chance to challenge 
              any team. If a challenge is accepted, a time slot will be given to those teams 
              and the match will be conducted. In this round, after the challenge, all the 
              16 teams race with their respective competitors and the 8 winning teams will be 
              promoted to the next round.
              
              <h5>Round 3</h5>
              Same procedure of challenging will be followed after modifying the track in 
              Round 3. At the end of the third round, the 4 winning teams will be ranked 
              according to the time in which they complete the race.<br>

              <h5>Finals</h5>
              1) The finals consist of 4 matches: Semifinal I and Semifinal II, followed 
              by 3rd place playoff and the Mega final.<br>
              2) Semifinal I will have 1st <em>vs</em> 4th while semifinal II has 2nd <em>vs</em>3rd.<br>
              3) The losers of the two rounds will face each other for the 3rd place playoff.<br>
              4) Mega Finals: This will feature the winners of Semifinal I and Semifinal II.<br>
              Battling it out to be crowned as the “CHAMPIONS of WHEELO”.
            </p>
          </div>
          
          <div class="col-md-12 mb-5 probootstrap-animate">
            <strong><h4>Rules</h4></strong>
            <p>
               1) Each team can comprise of a minimum of two members and a maximum of five
                members.<br>
               2) Each member must be a student with a valid ID card. All teams must be present
                on specified date for inspection, along with their registration receipt. This is to
                ensure that the machine has been made according to the given specifications.<br>
               3) The eligible teams will be given their practice slots. During this time, the teams
                can practice on the track; however, this permission is given on a first come first
                serve basis. So, it is advisable to secure your slot well before time.<br>
               4) Participants must use remote with frequency of band spectrum 2.4 GHz only. No
                power supply will be given on the track.<br>
               5) Team members are not permitted to touch either their machines or those of their
                opponents once the race begins (unless there is a need to lift the machine). The
                penalty for doing so on invalid grounds is disqualification.<br>
               6) Teams are prohibited from purposefully damaging the machine of the opponent
                team. If found guilty, the concerned team will be disqualified.<br>
               7) If the machine is found unsafe to run on the track, that team will be disqualified
                from the race. The organizers’ decision will be final and binding to all in this
                respect. No damage to the track will be tolerated and if found guilty, the
                responsible team will be disqualified.<br>
               8) The vehicles are not allowed to leave any loose parts or any extra part on any
                part of the arena.<br>
               9) Any vehicle disintegrating during the race will be disqualified. The vehicle must
                remain intact throughout the race. Once the race gets started, the participants must
                complete the race.<br>
               10) The track will have checkpoints at regular intervals. If the machine halts,
                  tumbles or goes off the arena at any point, one of the team members is allowed to
                 lift it up and place it at the nearest completed checkpoint. However, the timer will
                 still be running, in the meantime.<br>
               11) Persons from different institutes can be a part of the same team. However, one
                  person cannot be a part of multiple teams for the same event.
                  Only undergraduate students may participate.<br>
               12) The judges' and organizers' decisions shall be treated as final and binding to all.
                  The organizers reserve the rights to change any/or all of the above rules as they
                  deem fit.<br>
            </p>
          </div>

          <div class="col-md-12 mb-5 probootstrap-animate">
            <strong><h4>ARENA Details</h4></strong>
            <p>
               The race track will be a combination of on road and off-road tracks with many 
               hurdles. Participants are advised to use proper suspension and tires to 
               endure the bumps. Check points will be provided on track where the machine 
               can restart, in case of a disturbance.
            </p>
          </div>
          
          <div class="col-md-12 mb-5 probootstrap-animate">
            <strong><h4>Specifications</h4></strong>
            <p>
               <strong>ENGINE :</strong><br>
               Maximum piston displacement allowed is 4 cc. The car should be powered by 
               only one IC engine. Any machine which uses DC Motors for propulsion will be 
               disqualified. However, DC motors and servos can be used for steering mechanisms 
               or any other control mechanisms, apart from propulsion.<br>
               <strong>FUEL :</strong><br>
               The percentage of nitromethane should not exceed 20% by volume in the fuel. 
               Readymade fuel can be used.<br>
               <strong>VEHICLE DIMENSIONS :</strong><br>
               Machine should fit in a box of dimensions 650 mm x 500 mm x 400 mm (lxbxh) at 
               any time during the race. The external device which is used to control the 
               machine is not included in the size constraint. Antennae are exempt from the 
               height restriction.<br>
               <strong>PARTS THAT ARE TO BE FABRICATED BY THE PARTICIPANTS :</strong>
               The chassis, Suspensions system, Steering mechanism and Brakes.<br>
               <br>
               The machine must not be made from Lego parts, or any ready-made assembly 
               kits other than the parts mentioned above. Readily available chassis layouts 
               are not allowed. Any machine found having a ready-made chassis will be 
               disqualified.<br>
               <strong>Parts that can be directly procured from the market :</strong><br>
               Gear box assembly, Differentials (if used) Suspension springs, Shock 
               absorbers Tires and wheels (You are advised to use tires of good width for 
               better performance on dirt tracks). Clutch System, Brake System, Engine, 
               Carburetor, Servo Motors, Wheel hub.<br>
               <strong>POWER SUPPLY :</strong><br>
               The machine must have an on-board power supply to provide power to any
               mechanism requiring electric power not exceeding 12 V.<br>
               <strong>RADIO CONTROLLERS :</strong><br>
               The machine must be necessarily controlled by a wireless remote-control system.
               <li>Note: You may use clutch mechanism between the engine and the wheel, cooling 
                   mechanism to prevent overheating of the engine and air filters as dirt might cause
                   serious problems to the engine for better performance.
               </li>
               <strong>STEERING MECHANISM :</strong><br>
               The entire steering mechanism must be fabricated by the participants i.e. any 
               part connected to the steering part rigidly must be fabricated by the 
               participants; failing to do so the team will be disqualified. However, the 
               heim joint, knuckle arm, studs and wheel hub can be ready-made.<br>
               <strong>SUSPENSION MECHANISM :</strong><br>
               The suspension mechanism must be fabricated by the participants except the shock 
               absorbers. The suspension tower and the suspension arms must be fabricated by the 
               participants.<br>
               <strong>BRAKES :</strong><br>
               The brake mechanism must be disc brakes only. The disc pads used must be made 
               by participants.
            </p>
           </div>
           
           <div class="col-md-12 mb-5 probootstrap-animate">
               <strong><h4>Entry Fee :</h4></strong>
               <p>₹550/- Per Team (Minimum 2 and maximum 5 participants per team)</p>
            </div>
            

            <div class="col-md-12 mb-5 probootstrap-animate">
                <strong><h4>Prize :</h4></strong>
                <p>
                  Prizes worth ₹15000/-
                </p>
              </div>

            <div class="col-md-12 mb-5 probootstrap-animate">
                <strong><h4>Event Head </h4></strong>
                <p>
                    Walmik mamde : +91 91756 06436
                </p>
            </div>
        </div>
    </div>
</section>


<% include ../partials/footer %>