<% include ../partials/header %>


<section class="probootstrap_section" style="background-image:url(/assets/images/neonlife.jpg)">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-12 mb-5 probootstrap-animate">
        <h1>PICK O’ RUN</h1>
      </div>
      
      <div class="col-md-12 mb-5 probootstrap-animate">
        <strong><h4>Objectives</h4></strong>
        <p>
          PICK O’ RUN is an innovative competition that is clubbed form of events Roborace and 
          Pick and Place. It will provide a platform for the student to display their 
          creative skills in problem solving.<br> 
          <strong>Problem statement</strong><br>
          In this competition participant have to represent a machine (Robot) which has 
          been deployed in highly dangerous zone of radioactive elements. It has to clear 
          various tough obstacles and hurdles in stipulated time and place the radioactive 
          elements into their secured positions before they burst.
        </p>
      </div>
      
      <div class="col-md-12 mb-5 probootstrap-animate">
        <strong><h4>Event structure</h4></strong>
        <p>
          In PICK O’ RUN, the bot has to pick the radioactive elements, clear various 
          obstacles and tough hurdles in specific time and place that element at their 
          secured position. The team will get points accordingly. Points will depend upon 
          type of elements picked, time taken to complete the rounds and accuracy of 
          specific placing. There will be a bunch of radioactive element (5 to 7) available 
          at different places. The event will conduct in three rounds.<br>
          All rounds will be declared on the spot.<br>
          The robot, which gains maximum points, will be the winner.<br>
          Track will be declared 10 day before the event.                  
        </p>
      </div>
      
      <div class="col-md-12 mb-5 probootstrap-animate">
          <strong><h4>Rules</h4></strong>
          <p>
            1) The team should not consist of more than four members.<br>
            2) Bot may be wired or wireless. (Additional points for wireless bot)<br>
            3) Each member from same college is not mandatory.<br>
            4)	The robot should follow the robot specifications provided. Any deviation 
            from the mentioned specifications will lead to disqualification.<br>
            5) Once the race begins, three hand touches are allowed, if you are using hand 
            touch, you will have to start from last checkpoint.<br>
            6) No test practice will be allowed on the main arena.<br>
            7) The arena may subject to change before the commencement of any round.<br>
            8) If the Robot crosses a checkpoint, and moves off the track, then the Robot would 
            be placed back on the previous checkpoint crossed.<br>
            9) The decision of the judges will be final and abiding. Argument with judges 
            in any form will to the disqualification of the team.
          </p>
        </div>

        <div class="col-md-12 mb-5 probootstrap-animate">
          <strong><h4>Robot Specifications</h4></strong>
          <p>
            The LxBxH should not exceed 30x30x30.<br>
            The net weight should not exceed 3.5 kg.<br>
            However, a tolerance of 5% is acceptable.
          </p>
        </div>
        
        <div class="col-md-12 mb-5 probootstrap-animate">
          <strong><h4>Entry Fee :</h4></strong>
          <p>Rs.300/-</p>
        </div>

        <div class="col-md-12 mb-5 probootstrap-animate">
          <strong><h4>Event Head :</h4></strong>
          <p> 
            Trivendra Doijod : +91 70380 91758<br>
            Ashlesha Deshmukh : +91 78753 97677<br>
            Ashwini Neel : +91 91584 37009<br>
            Amruta Solanke : +91 97633 64373
          </p>
        </div>
        
      </div>
    </div>
  </section>
  

<% include ../partials/footer %>
