<% include ../partials/header %>


<section class="probootstrap_section" style="background-image:url(/assets/images/neonlife.jpg)">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-12 mb-5 probootstrap-animate">
        <h1>SURVEYING</h1>
      </div>
      
      <div class="col-md-12 mb-5 probootstrap-animate">
          <strong><h4>Objectives</h4></strong>
          <p>
            To provide a platform for engineering students to present their out of the box,
            unconventional and innovative approach to a problem.
          </p>
          <p>
            <em>Problems will be from following topics :</em><br>
            A) Levelling<br>             
            B) Angle measuring<br>
            C) Setting out<br>
            <em>Marking structure :</em><br>
            1) 30% for Aptitude test.<br>
            2) 70% for the task work.<br> 
            <em>Marking will depend upon :</em><br> 
            A) Accuracy<br> 
            B) Time taken<br>
            C) presentation of work 
          </p>
        </div>
          
        <div class="col-md-12 mb-5 probootstrap-animate">
          <strong><h4>Event Structure</h4></strong>
          <p>
            <h5>Round 1</h5>
            <strong>Aptitude Test :</strong><br>
            Will consist questions related to surveying. (15 multiple choice question, 
            2 marks per question, NO negative markings)<br>
            <h5>Round 2</h5>
            <strong>Task work :</strong><br>
            Field problem (Candidate have to draw a chit from a bowl  consisting of 
            different problems and perform /solve it in given time interval.)
          </p>
        </div>
        

        <div class="col-md-12 mb-5 probootstrap-animate">
          <strong><h4>Rules</h4></strong>
          <p>
            1) Instruments required will be provided by the institute.<br>
            2) NO electronic devices are allowed while performing a task.<br>
            3) Pen and surveying sheet will be given by the institute.<br>  
            4) NO surveying related devices are allowed other than the one provided by 
            the institute.<br>
            5) Task chosen cannot be changed or swapped.<br>
            6) Bring your college I-Card & registration receipt on event day. 
            All teams and their respective members should reach the event place in time.<br> 
            7) Persons from different institutions can be a part of the same team. 
            However, one person may not be a part of multiple teams for the same event.<br> 
            8) Any harm to instrument issued by institute can result into disqualification 
            of the participant.<br>
            9) Judges and organizers reserve the right to modify the rules without prior 
            intimation.
          </p>
        </div>

        <div class="col-md-12 mb-5 probootstrap-animate">
          <strong><h4>Entry Fee</h4></strong>
          <p> ₹150/- Per Team.(Maximum 3 participants per team.)</p>
        </div>

        <div class="col-md-12 mb-5 probootstrap-animate">
          <strong><h4>Event Head</h4></strong>
          <p>
            Chetan Atkari : +91 88885 30845<br>
            Pratik Deshmukh : +91 84218 44993
          </p>
        </div>
      
      </div>
    </div>
  </section>
  
  
<% include ../partials/footer %>
