<% include ../partials/header %>


<section class="probootstrap_section" style="background-image:url(/assets/images/neonlife.jpg)">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-12 mb-5 probootstrap-animate">
        <h1>VIRTUAL CAMPUS</h1>     
      </div>

      <div class="col-md-12 mb-5 probootstrap-animate">
          <a href="https://www.thecollegefever.com/events/wings19" role="button" target="_blank" class="btn">
            Register
          </a> 
        </div>

      <div class="col-md-12 mb-5 probootstrap-animate">
        <strong><h4>Event Structure</h4></strong>
        <p>
          <h5>Round 1</h5>
          <strong>General Aptitude test</strong><br>
          <li>MCQ based test</li>
          <li>40-45 questions</li>
          <li>No negative marking</li>
          <li>Time bounded</li>
          
          <h5>Round 2</h5>
          <strong>Group Discussion</strong><br>
          <li>Non-technical topics</li>
          
          <h5>Round 3</h5>
          <strong>Personal Interview</strong>
          <li>Non-technical interview</li>                 
        </p>
      </div>
      
      <div class="col-md-12 mb-5 probootstrap-animate">
        <strong><h4>Rules</h4></strong>
        <p>
          1) One participant can only have single entry.<br>
          2) All rounds will be taken as per campus placement process.<br>
          3) Time pattern is fixed and each round is expected to follow schedule.<br>
          4) Participants are expected to give their contact details correctly to inform 
          them about the event and the result.<br>
          For each round word of judges will be final.
        </p>
      </div>
      
      <div class="col-md-12 mb-5 probootstrap-animate">
        <strong><h4>Entry Fee</h4></strong>
        <p>₹50/-</p>
      </div>
      

      <div class="col-md-12 mb-5 probootstrap-animate">
          <strong><h4>Prize :</h4></strong>
          <p>
            Prizes worth ₹6000/-
          </p>
        </div>

      <div class="col-md-12 mb-5 probootstrap-animate">
        <strong><h4>Event Head</h4></strong>
        <p>
          Ranga Sai Pragnya : +91 90282 29346
        </p>
      </div>
    </div>
  </div>
</section>
  

<% include ../partials/footer %>
