html, body {
  height: 100%;
}

/* * {
  box-sizing: border-box;
    margin: 0;
    padding: 0;
} */

body {
  perspective-origin: 0% 50%;
  perspective: 800px;
  background: #000000;
  overflow: hidden;
}

#z{
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}

.element {
  width: 120px;
  height: 160px;
  box-shadow: 0px 0px 12px rgba(0,255,255,0.5);
  border: 1px solid rgba(127,255,255,0.25);
  text-align: center;
  cursor: default;
}

.element:hover {
  box-shadow: 0px 0px 12px rgba(0,255,255,0.75);
  border: 1px solid rgba(127,255,255,0.75);
}
  .element .number {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 12px;
    color: rgba(127,255,255,0.75);
  }
  .element .symbol {
    position: absolute;
    top: 40px;
    left: 0px;
    right: 0px;
    font-size: 60px;
    font-weight: bold;
    color: rgba(255,255,255,0.75);
    text-shadow: 0 0 10px rgba(0,255,255,0.95);
  }
  .element .details {
    position: absolute;
    bottom: 15px;
    left: 0px;
    right: 0px;
    font-size: 12px;
    color: rgba(127,255,255,0.75);
  }

nav, main {
  transition: transform 150ms ease-out;
}
nav {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 16em;
  transform: translateX(-16em);
}
  nav.menu-active {
    transform: translateX(0);
  }
  nav.menu-hover {
    transform: translateX(-15em);
  }
  nav h1 {
    z-index: 100;
    display: block;
    position: absolute;
    top: 0;
    right: -100px;
    height: 70px;
    width: 100px;
    line-height: 60px;
    font-size: 0.8em;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    background-color: #ffffff;
    cursor: pointer;
  }
  nav h1:hover {
    color: #353441;
    background: #fff;
  }
  nav ul {
    margin: 0;
    padding: 0;
  }
  nav li {
    display: inline-block;
    padding: 0 1em;
    width: 100%;
    height: 60px;
    color: #9dc6d1;
    line-height: 60px;
    background-color: #ffffff;
    transition: all 0.5s ease-in;
  }
  nav li:nth-of-type(2n) {
    background-color: #ffffff;
  }
  nav li:hover {
    background: #353441;
    color: white;
  }
  
main {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  overflow: hidden;
  transform-origin: 0% 50%;
  background-image: url(/assets/images/darkocean.jpg);
}
  main:after {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(to right, transparent, rgba(33, 33, 45, .5));
    visibility: hidden;
    opacity: 0;
    transition: opacity 150ms ease-out, visibility 0s 150ms;
  }
  main.menu-active {
    border-radius: 0.001px;
    transform: translateX(16em) rotateY(15deg);
  }
  main.menu-hover {
  border-radius: 0.001px;
  transform: translateX(1em) rotateY(1deg);
}


.button {
  background-color: white;
  color: black;
  border: 2px solid #555555;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
border-radius:20%;
}

.button:hover {
  background-color: #555555;
  color: white;
}
.button:hover {
  background-color: #555555;
  color: white;
}


/*Bounce*/
@keyframes kreep {
  0% {-webkit-transform: scale(1.1,.9);
      transform: scale(1.1,.9);}
 50% { -webkit-transform: scale(.9,1.1) translateY(-.5rem)}
 70% { -webkit-transform: scale(1);
       transform: scale(1);}
}

h1.kreep {
display: inline-block;
/*name-duration-function(ease,eas-in,linear)-delay-count-direction */
animation: kreep 0.7s ease 0.5s infinite alternate;
}

h1.kreep:hover {
animation: none;
}
/*END BOUNCER*/

/*SHAKER*/
@keyframes wiggle {
2% {
  -webkit-transform: translateX(3px) rotate(2deg);
  transform: translateX(3px) rotate(2deg);
}
4% {
  -webkit-transform: translateX(-3px) rotate(-2deg);
  transform: translateX(-3px) rotate(-2deg);
}
6% {
  -webkit-transform: translateX(3px) rotate(2deg);
  transform: translateX(3px) rotate(2deg);
}
8% {
  -webkit-transform: translateX(-3px) rotate(-2deg);
  transform: translateX(-3px) rotate(-2deg);
}
10% {
  -webkit-transform: translateX(2px) rotate(1deg);
  transform: translateX(2px) rotate(1deg);
}
12% {
  -webkit-transform: translateX(-2px) rotate(-1deg);
  transform: translateX(-2px) rotate(-1deg);
}
14% {
  -webkit-transform: translateX(2px) rotate(1deg);
  transform: translateX(2px) rotate(1deg);
}
16% {
  -webkit-transform: translateX(-2px) rotate(-1deg);
  transform: translateX(-2px) rotate(-1deg);
}
18% {
  -webkit-transform: translateX(1px) rotate(0);
  transform: translateX(1px) rotate(0);
}
20% {
  -webkit-transform: translateX(-1px) rotate(0);
  transform: translateX(-1px) rotate(0);
}
}

h1.wiggle {
display: inline-block;
animation: wiggle 2.7s infinite;
}

h1.wiggle:hover {
animation: none;
}
/*END SHAKER*/