<footer>
  <div class="container">
    <div class="row pt-2">
      <div class="col-lg-12 text-center">
        <p class="probootstrap-animate">
          &copy; 2018. All Rights Reserved. <br>
          Designed &amp; Developed by Digital Team, GECA
        </p>
      </div>
    </div>
  </div>
</footer>


<script src="/assets/js/jquery-2.1.4.min.js"></script>
<script src="/assets/js/jquery.waypoints.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/select2.min.js"></script>

<script src="/assets/js/navbar.js"></script>
<script src="/assets/js/main.js"></script>

</body>
</html>