<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Wings'19</title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Technical Event of Government College of Engineering Aurangabad">
		<meta name="keywords" content="Wings, Geca, Aurangabad, Technical Event">
    
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,700" rel="stylesheet">
    
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/animate.css">
    <link rel="stylesheet" href="/assets/fonts/ionicons/css/ionicons.min.css">

    <link rel="stylesheet" href="/assets/css/helpers.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/navstyle.css"/>
  </head>

<body>
  
<header>
  <div class="container">
  <div class="nav-icon float-right">
		<span></span>
		<span></span>
		<span></span>
  </div>
</div>
</header>
<div class="container">
<div class="full-menu">
	<div class="fullmenu-content">
		<ul class="page-menu">
      <li><a href="/"><img src="/assets/images/wingslogo2.png" style="height:80px; width:130px;"></a></li>
      <br>
			<li><a href="/events">Events</a></li>
			<li><a href="/hackathon">Hackathon</a></li>
			<li><a href="/makeathon">Makeathon</a></li>
			<li><a href="/paperpresentation">Paper Presentation</a></li>
			<li><a href="/workshop">Workshop</a></li>
			<li><a href="/accomodation">Accomodation</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
	</div>
	<a href="" class="modal-close">Close</a>
</div>
</div>

<!-- Ink Transition -->
<div class="cd-transition-layer"> 
	<div class="bg-layer"></div>
</div> 