<% include partials/header %>


<section class="probootstrap-cover overflow-hidden relative">
  <div class="container">
    <div class="row ">
      
      <div class="col-md align-items-center text-center">
        <h2 class="heading mb-2 display-4 font-light probootstrap-animate" style="color:black">Accomodation</h2>
      </div>
      
      <div class="col-md-12 mb-5 probootstrap-animate"> 
        <strong><h4>Description :</h4></strong>
        <p style="color:black">
          Wings is the annual national level technical symposium of the Government 
          College of Engineering Aurangabad. It is the largest technical event in 
          Marathwada region.<br>
          This year Wings is back with a plethora of events, workshops and competitions. 
          A total of 13 events are included.
        </p>
        <p class="probootstrap-animate" style="color:black">
          Rooms will be available from 24th January 11:00 AM to 27th January 11:00 AM.
        </p>
      </div>
      
      <div class="col-md-12 mb-5 probootstrap-animate" style="color:black">
        <strong><h4>Accomodation Charges</h4></strong>
        <p style="color:black">₹450/-</p>
      </div>
      
      <div class="col-md-12 mb-5 probootstrap-animate">
        <strong><h4>Hospitality Coordinator</h4></strong>
        <p style="color:black">Prabhat Shahare : +91 94052 48469</p>
      </div>
    
      <div class="col-md-12 mb-5 probootstrap-animate">
        <a href="https://www.thecollegefever.com/events/wings19" role="button" target="_blank" class="btn">
          Book
        </a> 
      </div>
    
    </div>
  </div> 
</section>


<% include partials/footer %>