<% include partials/header %>

<section class="probootstrap-cover overflow-hidden relative"  style="background-image: url('');" data-stellar-background-ratio="0.5" id="">
    <div class="overlay"></div>
    
    <div class="container">
      <div class="row align-items-center text-center">
        <div class="col-md">
          <h2 class="heading mb-2 display-4 font-light probootstrap-animate">Accomodation</h2>
        </div>
      </div>
      <div class="col-md-12 mb-5 probootstrap-animate"> 
          <div class="col-md-12 mb-5 probootstrap-animate">
              <strong><h4>Description :</h4></strong>
        <p>
              Wings is the annual national level technical symposium of the Government 
              College of Engineering Aurangabad. It is the largest technical event in 
              Marathwada region.<br>
              This year Wings is back with a plethora of events, workshops and competitions. 
              A total of 13 events are included.
          </p>
          <p class="probootstrap-animate">
              Rooms will be available from 24th January 11AM to 27th January 11AM.
            </p>
          </div>
|            <div class="col-md-12 mb-5 probootstrap-animate">
                <strong><h4>Accomodation Charges :</h4></strong>
                <p>₹450/-</p>
              </div>

              <div class="col-md-12 mb-5 probootstrap-animate">
                  <strong><h4>Hospitality Coordinator :</h4></strong>
                  <p>Prabhat Shahare : +91 94052 48469</p>
                </div>
                <div class="col-md-12 mb-5 probootstrap-animate">
                    <a href="https://www.thecollegefever.com/events/wings19" role="button" target="_blank" class="btn">
                      Book
                    </a> 
                </div>
       </div> 
      </div>
  </section>
  

<% include partials/footer %>