<% include partials/header %>


<section class="probootstrap_section" id="eventslist">
  <div class="container">
    <div class="row">
      
      <div class="col-md-6">  
        <div class="media probootstrap-media d-flex align-items-stretch mb-4 probootstrap-animate">
          <img class="probootstrap-media-image" src="/assets/images/events/smartcitydesign.jpg">
          <div class="media-body probootstrap-animate">
            <h5 class="mb-3 probootstrap-animate">SMART CITY DESIGN</h5>
            <p class="probootstrap-animate">
              <a href="events/smartcitydesign" role="button" class="btn">
                More Info
              </a> 
            </p>
          </div>
        </div>
      </div>
      
      <div class="col-md-6">  
        <div class="media probootstrap-media d-flex align-items-stretch mb-4 probootstrap-animate">
          <img class="probootstrap-media-image"src="/assets/images/events/surveying.jpg">
          <div class="media-body probootstrap-animate" >
            <h5 class="mb-3 probootstrap-animate">SURVIO</h5>
            <p class="probootstrap-animate">
              <a href="/events/surveying" role="button" class="btn">
                More Info
              </a> 
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6">  
        <div class="media probootstrap-media d-flex align-items-stretch mb-4 probootstrap-animate">
          <img class="probootstrap-media-image" src="/assets/images/events/epitome.jpg">
          <div class="media-body probootstrap-animate">
            <h5 class="mb-3 probootstrap-animate">EPITOME</h5>
            <p class="probootstrap-animate">
              <a href="/events/epitome" role="button" class="btn">
                More Info
              </a> 
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6">  
        <div class="media probootstrap-media d-flex align-items-stretch mb-4 probootstrap-animate">
          <img class="probootstrap-media-image" src="/assets/images/events/electrobuzz.jpg">
          <div class="media-body probootstrap-animate">
            <h5 class="mb-3 probootstrap-animate">ELECTROBUZZ</h5>
            <p class="probootstrap-animate">
              <a href="events/electrobuzz" role="button" class="btn">
                More Info
              </a> 
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6">  
        <div class="media probootstrap-media d-flex align-items-stretch mb-4 probootstrap-animate">
          <img class="probootstrap-media-image" src="/assets/images/events/lathewar.jpg">
          <div class="media-body probootstrap-animate">
            <h5 class="mb-3 probootstrap-animate">LATHE WAR</h5>
            <p class="probootstrap-animate">
              <a href="events/lathewar" role="button" class="btn">
                More Info
              </a> 
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6">  
        <div class="media probootstrap-media d-flex align-items-stretch mb-4 probootstrap-animate">
          <img class="probootstrap-media-image scale-down" src="/assets/images/events/nitroracing.jpg">
          <div class="media-body probootstrap-animate">
            <h5 class="mb-3 probootstrap-animate">NITRORACING</h5>
            <p class="probootstrap-animate">
              <a href="events/nitroracing" role="button" class="btn">
                More Info
              </a> 
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6">  
        <div class="media probootstrap-media d-flex align-items-stretch mb-4 probootstrap-animate">
          <img class="probootstrap-media-image" src="/assets/images/events/codingkbc.jpg">
          <div class="media-body probootstrap-animate">
            <h5 class="mb-3 probootstrap-animate">CODING KBC</h5>
            <p class="probootstrap-animate">
              <a href="events/codingkbc" role="button" class="btn">
                More Info
              </a> 
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6">  
        <div class="media probootstrap-media d-flex align-items-stretch mb-4 probootstrap-animate">
          <img class="probootstrap-media-image" src="/assets/images/events/codedate.jpg">
          <div class="media-body probootstrap-animate">
            <h5 class="mb-3 probootstrap-animate">CODE DATE</h5>
            <p class="probootstrap-animate">
              <a href="events/codedate" role="button" class="btn">
                More Info
              </a> 
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6">  
        <div class="media probootstrap-media d-flex align-items-stretch mb-4 probootstrap-animate">
          <img class="probootstrap-media-image" src="/assets/images/events/virtualcampus.jpg">
          <div class="media-body probootstrap-animate">
            <h5 class="mb-3 probootstrap-animate">VIRTUAL CAMPUS</h5>
            <p class="probootstrap-animate">
              <a href="events/virtualcampus" role="button" class="btn">
                More Info
              </a> 
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6">  
        <div class="media probootstrap-media d-flex align-items-stretch mb-4 probootstrap-animate">
          <img class="probootstrap-media-image" src="/assets/images/events/energycontraption.jpg">
          <div class="media-body probootstrap-animate">
            <h5 class="mb-3 probootstrap-animate">ENERGY CONTRAPTION</h5>
            <p class="probootstrap-animate">
              <a href="events/energycontraption" role="button" class="btn">
                More Info
              </a> 
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6">  
        <div class="media probootstrap-media d-flex align-items-stretch mb-4 probootstrap-animate">
          <img class="probootstrap-media-image" src="/assets/images/events/pickorun.jpg">
          <div class="media-body probootstrap-animate">
            <h5 class="mb-3 probootstrap-animate">PICK O’ RUN</h5>
            <p class="probootstrap-animate">
              <a href="events/pickorun" role="button" class="btn">
                More Info
              </a> 
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6">  
        <div class="media probootstrap-media d-flex align-items-stretch mb-4 probootstrap-animate">
          <img class="probootstrap-media-image" src="/assets/images/events/Cadster.jpg">
          <div class="media-body probootstrap-animate">
            <h5 class="mb-3 probootstrap-animate">CADSTER</h5>
            <p class="probootstrap-animate">
              <a href="events/cadster" role="button" class="btn">
                More Info
              </a> 
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6">  
        <div class="media probootstrap-media d-flex align-items-stretch mb-4 probootstrap-animate">
          <img class="probootstrap-media-image" src="/assets/images/events/webquest.jpeg">
          <div class="media-body probootstrap-animate">
            <h5 class="mb-3 probootstrap-animate">WEB QUEST</h5>
            <p class="probootstrap-animate">
              <a href="events/webquest" role="button" class="btn">
                More Info
              </a> 
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>


<% include partials/footer %>
