<% include partials/header %>

<!-- Coming Soon Page -->
<section class="probootstrap-cover overflow-hidden relative"  style="background-image: url('assets/images/eventbackground.jpg');" data-stellar-background-ratio=  id="section-home">
    <!-- <div class="overlay"></div> -->
    <div class="container">
      <div class="row align-items-center" style="text-align: center;">
        <div class="col-md">
          <h1 class="heading mb-2 display-4 font-light probootstrap-animate">Coming Soon</h1>
          <p class="lead mb-5 probootstrap-animate">25th - 27th Jan 2019</p>
          <p class="probootstrap-animate">
            <a href="index.html#section-contact" role="button" class="btn btn-primary p-3 mr-3 pl-5 pr-5 text-uppercase d-lg-inline d-md-inline d-sm-block d-block mb-3">For notifications</a> 
          </p>
        </div>         
      </div> 
    </div>
  </section>

  <section class="probootstrap_section" id="section-city-guides">
    <div class="container">
      <div class="row mb-3">
        <div class="col-md-6">

          <div class="media probootstrap-media d-flex align-items-stretch mb-4 probootstrap-animate">
            <div class="probootstrap-media-image" style="background-image: url(assets/images/sq_img_2.jpg)">
            </div>
            <div class="media-body">
              <h5 class="mb-3">Mall-Khamb</h5>
              <p>This event will test your physical strength as well as chutiyappa stored in you for this whole time</p>
            </div>
          </div>

          <div class="media probootstrap-media d-flex align-items-stretch mb-4 probootstrap-animate">
            <div class="probootstrap-media-image" style="background-image: url(assets/images/sq_img_1.jpg)">
            </div>
            <div class="media-body">
              <h5 class="mb-3">Treasure Hunt</h5>
              <p>Are you an extrovert or introvert? Time to find out. Join us to find the treasure hidden in the GECA (Aukad Anusar).</p>
            </div>
          </div>

        </div>
        <div class="col-md-6">
          
          <div class="media probootstrap-media d-flex align-items-stretch mb-4 probootstrap-animate">
            <div class="probootstrap-media-image" style="background-image: url(assets/images/sq_img_3.jpg)">
            </div>
            <div class="media-body">
              <h5 class="mb-3">Web-Quest</h5>
              <p>Honestly, if you are already tired to join a treasure hunt where you will only run for whole day. (If there is any girl participant with you then hell yaah), welcome to online tresasure hunt. Just seat and try to find the treasure on computer which will you do for your whole life</p>
            </div>
          </div>

          <div class="media probootstrap-media d-flex align-items-stretch mb-4 probootstrap-animate">
            <div class="probootstrap-media-image" style="background-image: url(assets/images/img_5.jpg)">
            </div>
            <div class="media-body">
              <h5 class="mb-3">04. Service Title Here</h5>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
            </div>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-md-6">

          <div class="media probootstrap-media d-flex align-items-stretch mb-4 probootstrap-animate">
            <div class="probootstrap-media-image" style="background-image: url(assets/images/img_1.jpg)">
            </div>
            <div class="media-body">
              <h5 class="mb-3">01. Service Title Here</h5>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
            </div>
          </div>

          <div class="media probootstrap-media d-flex align-items-stretch mb-4 probootstrap-animate">
            <div class="probootstrap-media-image" style="background-image: url(assets/images/img_2.jpg)">
            </div>
            <div class="media-body">
              <h5 class="mb-3">02. Service Title Here</h5>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
            </div>
          </div>

        </div>
        <div class="col-md-6">
          
          <div class="media probootstrap-media d-flex align-items-stretch mb-4 probootstrap-animate">
            <div class="probootstrap-media-image" style="background-image: url(assets/images/img_4.jpg)">
            </div>
            <div class="media-body">
              <h5 class="mb-3">03. Service Title Here</h5>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
            </div>
          </div>

          <div class="media probootstrap-media d-flex align-items-stretch mb-4 probootstrap-animate">
            <div class="probootstrap-media-image" style="background-image: url(assets/images/img_5.jpg)">
            </div>
            <div class="media-body">
              <h5 class="mb-3">04. Service Title Here</h5>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
            </div>
          </div>

        </div>
      </div>

    </div>
  </section>

  <!-- END section -->

  <% include partials/footer %>
