<% include partials/header %>


<!-- Event Intro -->
<section class="probootstrap-cover overflow-hidden relative"  style="background-image: url('assets/images/eventBackground.jpg');" data-stellar-background-ratio="0.5" id="events">
  <div class="overlay"></div>
  
  <div class="container">
    <div class="row align-items-center text-center">
      <div class="col-md">
        <h2 class="heading mb-2 display-4 font-light probootstrap-animate">Events</h2>
        <p class="lead mb-5 probootstrap-animate">25th - 27th Jan 2019</p>
      </div>         
    </div> 
  </div>
</section>

<!-- Individual Events -->
<section class="probootstrap_section" id="individualEvents">
  <div class="container">
    <div class="row mb-3">
      <div class="col-md-6">  
        <div class="media probootstrap-media d-flex align-items-stretch mb-4 probootstrap-animate">
          <img class="probootstrap-media-image" src="">
          <div class="media-body probootstrap-animate">
            <h5 class="mb-3 probootstrap-animate"></h5>
            <h6 class="probootstrap-animate">Price Worth:</h6>
            <p class="probootstrap-animate">Winner: Rs./-</p>
            <p class="probootstrap-animate">1st Runnerup: Rs./-</p>
            <p class="probootstrap-animate">2st Runnerup: Rs./-</p>
            <p class="probootstrap-animate">
              <a href="#section-feature-testimonial" role="button" class="btn">
                More Info
              </a> 
            </p>
          </div>
        </div>
      </div>
      
      <div class="col-md-6">  
        <div class="media probootstrap-media d-flex align-items-stretch mb-4 probootstrap-animate">
          <img class="probootstrap-media-image" src="">
          <div class="media-body probootstrap-animate">
            <h5 class="mb-3 probootstrap-animate"></h5>
            <h6 class="probootstrap-animate">Price Worth:</h6>
            <p class="probootstrap-animate">Winner: Rs./-</p>
            <p class="probootstrap-animate">1st Runnerup: Rs./-</p>
            <p class="probootstrap-animate">2st Runnerup: Rs./-</p>
            <p class="probootstrap-animate">
              <a href="#section-feature-testimonial" role="button" class="btn">
                More Info
              </a> 
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<% include partials/footer %>
