<% include partials/header %>


<!-- Hackathon Intro -->
<section class="probootstrap-cover overflow-hidden relative"  style="background-image: url('assets/images/hackathonbackground.png');" data-stellar-background-ratio="0.5" id="hackathon">
  <div class="overlay"></div>
  
  <div class="container">
    <div class="row align-items-center text-center">
      <div class="col-md">
        <h2 class="heading mb-2 display-4 font-light probootstrap-animate">Hackathon</h2>
        <p class="lead mb-5 probootstrap-animate"></p>
      </div> 
    </div>
  </div>
</section>

<!-- Hackathon Timeline -->
<section class="probootstrap-section-half d-md-flex" id="hackathonTimeline1">
  <div class="probootstrap-image probootstrap-animate" data-animate-effect="fadeIn" style="background-image: url(assets/images/hackathonTimeline1.jpg)"></div>
  
  <div class="probootstrap-text">
    <div class="probootstrap-inner probootstrap-animate" data-animate-effect="fadeInRight">
      <h2 class="heading mb-4">Objective</h2>
      <p></p>
    </div>
  </div>
</section>

<section class="probootstrap-section-half d-md-flex">
  <div class="probootstrap-image order-2 probootstrap-animate" data-animate-effect="fadeIn" style="background-image: url(assets/images/hackathonTimeline2.jpg)"></div>
  
  <div class="probootstrap-text order-1">
    <div class="probootstrap-inner probootstrap-animate" data-animate-effect="fadeInLeft">
      <h2 class="heading mb-4">Problem statements</h2>
      <p></p>
      <p>
        <a href="#" class="btn">Statements</a>
      </p>
    </div>
  </div>
</section>
      
<section class="probootstrap-section-half d-md-flex" id="section-about">
  <div class="probootstrap-image probootstrap-animate" data-animate-effect="fadeIn" style="background-image: url(assets/images/hackathonTimeline3.jpg)"></div>
  
  <div class="probootstrap-text">
    <div class="probootstrap-inner probootstrap-animate" data-animate-effect="fadeInRight">
      <h2 class="heading mb-4">First Round</h2>
      <p></p>
      <p>
        <a href="#" class="btn">Solution</a>
      </p>
    </div>
  </div>
</section>


<% include partials/footer %>
