<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Technical Event of Government College of Engineering Aurangabad">
		<meta name="keywords" content="Wings, Geca, Aurangabad, Technical Event">
    
		<title>GECA - Wings</title>
    
    <link rel="stylesheet" type="text/css" href="/index/navstyle.css">
    
    <script src="/index/three.js"></script>
    <script src="/index/tween.min.js"></script>
    <script src="/index/TrackballControls.js"></script>
    <script src="/index/CSS3DRenderer.js"></script>
  
    <script src="/assets/js/jquery.min.js"></script>

</head>
<body>
  <nav class="menu-activea">
    <h1>wings</h1>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/events">Events</a></li>
      <li ><a href="/hackathon">Hackathon</a></li>
      <li><a href="/makeathon">Makeathon</a></li>
      <li><a href="/paperpresentation">Paper Presentation</a></li>
      <li><a href="/workshop">Workshop</a></li>
      <li><a href="/#section-contact">Contact</a></li>
    </ul>
  </nav>
  
  <main>
    <section id="z">
      
      <div id="threejs"></div>
    
      <div id="menu">
        <button id="table"></button>
        <button id="sphere"></button>
        <button id="helix"></button>
        <button id="grid"></button>
      </div>
    </section>
    
  </main>
  
  <script src="/index/nav.js"></script>

</body>
</html>