<% include partials/header %>


<section class="probootstrap-cover overflow-hidden relative" id="informals">
  <div class="overlay"></div>
  
  <div class="container">
    <div class="row align-items-center text-center">
      <div class="col-md">
        <h2 class="heading mb-2 display-4 font-light probootstrap-animate">Informals</h2>
        <p class="probootstrap-animate">
          Wings'19 presents Fun Zone for all Engineering Students. Brace yourself for a 
          package full of fun, adventure and excitement...
        </p>
      </div> 
    </div>
  </div>
</section>

<!-- Workshop List -->
<section class="probootstrap_section">
  <div class="container">
    <div class="row text-center mb-5 probootstrap-animate">
      
      <div class="col-lg-3 col-md-6 probootstrap-animate mb-3">
        <a href="informals/treasurehunt" class="probootstrap-thumbnail">
          <img src="/assets/images/informals/treasurehunt.jpg" class="img-fluid">
          <div class="probootstrap-text">
            <h3>Treasure Hunt</h3>
          </div>
        </a>
      </div>
      
      <div class="col-lg-1"></div>

      <div class="col-lg-3 col-md-6 probootstrap-animate mb-3">
        <a href="informals/jugaad" class="probootstrap-thumbnail">
          <img src="/assets/images/informals/jugaad.jpg" class="img-fluid">
          <div class="probootstrap-text">
            <h3>Jugaad</h3>
          </div>
        </a>
      </div>
    
    </div>
  </div>
</section>




<% include partials/footer %>