<% include partials/header %>

<link rel="stylesheet" href="/landing/periodictable.css"/>

<section class="main">
  <div class="main-content">
    <div id="threejs"></div>
  </div>
</section>

<script src="/landing/three.js"></script>
<script src="/landing/tween.min.js"></script>
<script src="/landing/TrackballControls.js"></script>
<script src="/landing/CSS3DRenderer.js"></script>
<script src="/landing/periodictable.js"></script>


<% include partials/footer %>