<% include partials/header %>


<link rel="stylesheet" href="/landing/periodictable.css"/>

<section class="main">
  <div class="main-content">
    
    <div id="threejs"></div>
    
    <div class="container">
      <div class="row align-items-center text-center" >
        <div class="col-md" id="wings">
          <h2 class="heading mb-2 display-4 font-light probootstrap-animate">Wings</h2>
          <p class="lead mb-5 probootstrap-animate">25th, 26th & 27th January</p>
        </div> 
      </div>
    </div>
    
  </div>
</section>


<script src="/landing/three.js"></script>
<script src="/landing/tween.min.js"></script>
<script src="/landing/TrackballControls.js"></script>
<script src="/landing/CSS3DRenderer.js"></script>
<script src="/landing/periodictable.js"></script>


<% include partials/footer %>