<% include partials/header %>


<!-- Makeathon Intro -->
<section class="probootstrap-cover overflow-hidden relative"  style="background-image: url('assets/images/makeathonbackground.jpg');" data-stellar-background-ratio="0.5" id="makeathon">
  <div class="overlay"></div>
  
  <div class="container">
    <div class="row align-items-center text-center">
      <div class="col-md">
        <h2 class="heading mb-2 display-4 font-light probootstrap-animate">Makeathon</h2>
        <p class="lead mb-5 probootstrap-animate">
          Makeathon will give you a chance to meet passionate people from different disciplines and learn a lot from each other, 
          you get a chance to develop your leadership skills and team compatibility. Here you will have to take initiative, 
          communicate within the team and outside of the team, make presentations and finally come up with a solution that has the potential to make an impact.  
          These all are essential factors to succeed at any workplace.  In the end, there is a prize to take home, 
          a team, memories and lots of experience.........</p>
      </div> 
    </div>
  </div>
</section>

<!-- Makeathon Timeline -->
<section class="probootstrap-section-half d-md-flex" id="makeathonTimeline">
  <div class="probootstrap-image probootstrap-animate" data-animate-effect="fadeIn" style="background-image: url(assets/images/makeathonTimeline1.jpg)"></div>
  
  <div class="probootstrap-text">
    <div class="probootstrap-inner probootstrap-animate" data-animate-effect="fadeInRight">
      <h2 class="heading mb-4">Objective</h2>
      <p>An engineer is a creator - of products, of services and of all those things that make life easier. 
        Imagine how would life be without wheels, without cellphones, without machines! 
        In this competition we want you to innovate. <em>Innovation = IDEA + IMPACT.</em> 
        To create impact the solution which you build should take multiple factors into consideration 
        which include understanding the problem and pain point and creating a solution to it. 
        To innovate you need to understand problems and try to address them. 
        For that, you need to understand who you are, what resources you have and build a team that will work towards achieving that goal.
      </p>
    </div>
  </div>
</section>

<section class="probootstrap-section-half d-md-flex">
  <div class="probootstrap-image order-2 probootstrap-animate" data-animate-effect="fadeIn" style="background-image: url(assets/images/makeathonTImeline2.jpg)"></div>
  
  <div class="probootstrap-text">
    <div class="probootstrap-inner probootstrap-animate" data-animate-effect="fadeInLeft">
      <h2 class="heading mb-4">Problem statements</h2>
      <p>So as a part of the competition you are required to give ideas, they don't need to be very big. 
        Have you ever thought about something like a simple tap that never leaks? You know about the goal line technology 
        and the ball tracking and snicko used in football and cricket respectively. 
        So come up with problems and their probable solution ( don't worry to come up with a perfect solution, 
        a paragraph of how you think the problem can be solved is enough). 
        Try to keep the problem statements/ pain points close to the ones experienced in day to day lives 
        especially in the rural areas, or the underprivileged and to the 
        <a href="https://sustainabledevelopment.un.org/?menu=1300" target="_blank">UN guidelines of sustainable development goals</a>.
        Keep those problem statements whose solutions you can realise as a product using your engineering knowledge. 
        After submitting them, read about it, try to come up with detailed solutions.
      </p>
      <p>
        <a href="#" class="btn">Submit your Problem statement and Solution</a>
      </p>
    </div>
  </div>
</section>

<section class="probootstrap-section-half d-md-flex">
  <div class="probootstrap-image probootstrap-animate" data-animate-effect="fadeIn" style="background-image: url(assets/images/makeathonTImeline3.jpg)"></div>
  
  <div class="probootstrap-text">
    <div class="probootstrap-inner probootstrap-animate" data-animate-effect="fadeInRight">
      <h2 class="heading mb-4">Self Evaluation</h2>
      <p>The next stage is where you have to let us know what your strengths and weakness are and 
        what roles you wish to take in a team and what skills you will be contributing. 
        Please be a bit informative e.g a CAD designer won't work, it should be - good at solid modelling, 
        have modelled an engine crankshaft or good at core mechanical engineering concepts like mechanisms, 
        fluid flow etc, fluent with graphic design software like ABC but weak at presentation and public speaking. 
        To realise the problem statements I need these XYZ skillsets in my team members if possible. 
        At any workplace, you are put into an interdisciplinary team to realise organisational goals. 
        So at the event venue, you will be provided with a team on the basis of various factors - 
        i.e availability of the registrants, the strengths and weakness of the members, 
        the similarity of the problem statements and the quality of the abstract, requirements and other factors. 
        During the event time, you will be provided with the opportunity to work with the team to come up 
        with a final problem statement and a solution for it, which you will have to present at the end of the competition. 
        Guidance will be provided from time to time and the details will be provided at the event venue.
      </p>
      <p>
        <a href="#" class="btn">Your Info</a>
      </p>
    </div>
  </div>
</section>


<% include partials/footer %>
