<% include partials/header %>
    <section class="probootstrap-cover overflow-hidden relative"  style="background-image: url('assets/images/paperpresentationbackground.jpg');" data-stellar-background-ratio="0.5" id="section-home">
        <div class="overlay"></div>
        <div class="container">
          <div class="row align-items-center text-center">
            <div class="col-md">
              <h2 class="heading mb-2 display-4 font-light probootstrap-animate">Paper Presentation</h2>
              <p class="lead mb-5 probootstrap-animate">For this event, i'm with Jon Snow, The King in the North</p>
  <p class="probootstrap-animate">
                <a href="index.html#section-contact" role="button" class="btn btn-primary p-3 mr-3 pl-5 pr-5 text-uppercase d-lg-inline d-md-inline d-sm-block d-block mb-3">For notifications</a> 
            </div> 
          </div>
        </div>
    </section>
    <% include partials/footer %>