<% include partials/header %>
    
<!-- paperPresentation Intro -->
<section class="probootstrap-cover overflow-hidden relative"  style="background-image: url('assets/images/paperpresentationbackground.jpg');" data-stellar-background-ratio="0.5" id="paperPresentation">
  <div class="overlay"></div>
  <div class="container">
    <div class="row align-items-center text-center">
      <div class="col-md">
        <h2 class="heading mb-2 display-4 font-light probootstrap-animate">
          Paper Presentation</h2>
          <p class="lead mb-5 probootstrap-animate">
            Wings' foremost focus is on extracting the latent scientific notions from the student's mind and put forward the subdued spurt of knowledge and innovation. Paper Presentation is a central attraction of this year's Wings and is aiming at giving a platform for students to put forward the latent scientific innovations in front of the world.
          </p>
          <p class="probootstrap-animate">
            <a href="https://cmt3.research.microsoft.com/User/Login?ReturnUrl=%2FWINGSGECA2019%2FSubmission%2FIndex" role="button" target="_blank" class="btn">
              submit your paper</a> 
      </div> 
    </div>
  </div>
</section>

<!-- paperPresentation Info -->
<section class="probootstrap_section" id="paperPresentation">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-12 mb-5 probootstrap-animate">
        <h3>Topics for Paper Presentation</h3>
        <a href = "/pdf/paperPresentation-Mechanical.pdf" target="_blank">Mechanical</a><br>
        <a href = "/pdf/paperPresentation-Entc.pdf" target="_blank">Electronics and Telecommunication</a><br>
        <a href = "/pdf/paperPresentation-Electrical.pdf" target="_blank">Electrical</a><br>
        <a href = "/pdf/paperPresentation-Civil.pdf" target="_blank">Civil</a><br>
        <a href = "/pdf/paperPresentation-CSE,ITandMCA.pdf" target="_blank">CSE, IT and MCA</a>
      </div>
      
      <div class="col-md-12 mb-5 probootstrap-animate">
        <h3>Rules and Guidelines</h3>
        <a href = "/pdf/PaperFormattingRules&Guidance.pdf" target="_blank">Paper Formatting Rules & Guidance</a>
      </div>
      
      <div class="col-md-12 mb-5 probootstrap-animate">
        <h3>Event Head :</h3>
        <p>Dipam Chaudhari : +91 77980 40995</p>
        <p>Email ID : dipdc98@gmail.com</p>
        <li>Note : The number and amount of prizes will be decided by GECA Wings.</li>
      </div>
    </div>
  </div>
</section>


<% include partials/footer %>