<% include ../partials/header %>


<section class="probootstrap_section" style="background-image:url(/assets/images/neonlife.jpg)">
    <div class="container">
        <div class="row justify-content-center mb-5">
            
            <div class="col-md-12 mb-5 probootstrap-animate">
                <h1>CNC & CNC Programming</h1>
            </div>
            
            <div class="col-md-12 mb-5 probootstrap-animate">
                <strong><h4>Event Structure</h4></strong>
                <p>
                    Introduction to CNC Lathe and VMC.<br>
                    CNC programing<br>
                    GD & T<br>
                    Limits, Fits, & Tolerances<br>
                    Simulation (Hands on)<br>
                    Parts of CNC Lathe &VMC (Practicle)
                </p>
            </div>
            
            <div class="col-md-12 mb-5 probootstrap-animate">
                <strong><h4>Date</h4></strong>
                <p>
                    19th & 20th January
                </p>
            </div>

            <div class="col-md-12 mb-5 probootstrap-animate">
                <strong><h4>Entry Fee</h4></strong>
                <p>
                    ₹200/- Per participant<br>
                    ₹500/- In Batch of 3
                </p>
            </div>
            
            <div class="col-md-12 mb-5 probootstrap-animate">
                <strong><h4>Event Head</h4></strong>
                <p>
                    Madhav Padade : +91 80073 98684<br>
                    Walmik Mande : +91 91756 06436
                </p>
            </div>
        
        </div>
    </div>
</section>


<% include ../partials/footer %>