<% include ../partials/header %>

<section class="probootstrap_section" style="background-image:url(/assets/images/neonlife.jpg)">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-12 mb-5 probootstrap-animate">
              <h1>Internet of Things</h1>
            </div>

            <div class="col-md-12 mb-5 probootstrap-animate">
                    <a href="https://www.thecollegefever.com/events/wings19" role="button" target="_blank" class="btn">
                      Register
                    </a> 
                  </div>
            
            
             
                <div class="col-md-12 mb-5 probootstrap-animate">
                        <strong><h4>Schedule</h4></strong>
                        <p>
                            <strong>DAY 1</strong><br>
                            <em>First session</em><br>
                            1) Basics of Node MCU.<br>
                            2) Software and Library Installations.<br>
                            <em>Second session</em><br>
                            3) Basics of Programming.<br>
                            4) Introduction to Sensors.<br>
                            5) Mini Project 1<br>
                            <br>
                            <strong>DAY 2</strong><br>
                            <em>First session</em><br>
                            6) Interfacing Of Sensors.<br>
                            7) Mini Project 2.<br>
                            <em>Second session</em><br>
                            8) Mini project 3.<br>
                                
                        </p>
                      </div>
  
                
             <div class="col-md-12 mb-5 probootstrap-animate">
                    <strong><h4>Entry Fee :</h4></strong>
                    <p>₹1200/- Per participant</p>
                 </div>
                 
     
              <div class="col-md-12 mb-5 probootstrap-animate">
                  <strong><h4>Venue</h4></strong>
                  <p>
                    E&TC Seminar Hall
                  </p>
                </div>


                <div class="col-md-12 mb-5 probootstrap-animate">
                        <strong><h4>Event Head</h4></strong>
                        <p>
                            Pratiksha Udgirkar : +91 80876 77904<br>
                            Swapnil Pimple : +91 88882 03742<br>
                            Gandhar joshi : +91 94038 88101<br>
                                           
                        </p>
                      </div>
                    
                      <li>Refreshment will be provided by the organizers.</li>
                      <li>Kit will be provided to each member.<br>
                      (kit includes-Node MCU, USB cable, DHT -11, Relay Module, Bread Board, 
                      Buzzer, Connectors,, Notepad, Pen etc)
                              </li>
      
              </div>
          </div>
      </div>
  </section>
  
  

<% include ../partials/footer %>