<% include ../partials/header %>


<section class="probootstrap_section" style="background-image:url(/assets/images/neonlife.jpg)">
  <div class="container">
    <div class="row justify-content-center mb-5">
      
      <div class="col-md-12 mb-5 probootstrap-animate">
        <h1>Internet of Things</h1>
      </div>
      
      <div class="col-md-12 mb-5 probootstrap-animate">
        <a href="https://www.thecollegefever.com/events/wings19" role="button" target="_blank" class="btn">
          Register
        </a> 
      </div>
      
      <div class="col-md-12 mb-5 probootstrap-animate">
        <strong><h4>Schedule</h4></strong>
        <p>
          <strong>DAY 1</strong><br>
          <em>First session</em><br>
          Introduction to NodeMCU and IoT.<br>
          Installation of NodeMCU support for Arduino.<br>
          Understanding the IO of nodeMCU<br>
          Downloading Sample Program on NodeMCU<br>
          PreCautions and possible Pitfalls while using NodeMCU.<br>
          <br>
          <em>Second session</em><br>
          Ultrasonic Distance sensor working.<br>
          Code for interfacing distance sensor with nodemcu.<br>
          What is Internet of Things, scope of IoT and applications<br>
          Various IoT Cloud Platforms and their usage<br>
          Account creation on cloud platform.<br>
          Post real time values of distance on internet based cloud<br>
          <br>
          <strong>DAY 2</strong><br>
          <em>First session</em><br>
          Install Library of DHT11 temp sensor.<br>
          Read temperature and Humidity on Nodemcu.<br>
          Interfacing of output devices on nodemcu.<br>
          Create a temperature controller on NodeMCU.<br>
          Post Values of Temperature and Humidity on internet<br>
          <br>
          <em>Second session</em><br>
          Understanding IoT protocols, what is MQTT and REST.<br>
          Using second cloud server for data Posting.<br>
          Account creation on cloud platform.<br>
          Home automation project using MQT
        </p>
      </div>
      
      <div class="col-md-12 mb-5 probootstrap-animate">
        <strong><h4>Entry Fee</h4></strong>
        <p>₹1200/- Per participant</p>
      </div>
      
      <div class="col-md-12 mb-5 probootstrap-animate">
        <strong><h4>Venue</h4></strong>
        <p>E&TC Seminar Hall</p>
      </div>
      
      <div class="col-md-12 mb-5 probootstrap-animate">
        <strong><h4>Event Head</h4></strong>
        <p>
          Pratiksha Udgirkar : +91 80876 77904<br>
          Swapnil Pimple : +91 88882 03742<br>
          Gandhar joshi : +91 94038 88101<br>
        </p>
      </div>
         
      <ul>
        <li>Refreshment will be provided by the organizers.</li>
        <li>
          Kit will be provided to each member.<br>
          (kit includes-Node MCU, USB cable, DHT -11, Relay Module, Bread Board, 
          Buzzer, Connectors,, Notepad, Pen etc)
        </li>
      </ul>
      
    </div>
  </div>
</section>


<% include ../partials/footer %>