<% include ../partials/header %>


<section class="probootstrap_section" style="background-image:url(/assets/images/neonlife.jpg)">
    <div class="container">
        <div class="row justify-content-center mb-5">
            
            <div class="col-md-12 mb-5 probootstrap-animate">
                <h1>Photoshop and Corel Draw Workshop</h1>
            </div>
            
            <div class="col-md-12 mb-5 probootstrap-animate">
                <strong><h4>Objectives</h4></strong>
                <p>
                    Wings brings a chance for everyone to learn the art of digital designing. 
                    A Photoshop and CorelDRAW workshop is arranged by an expert designer on  
                    5th,6th and 7th January 2019. This workshop is open to all students.
                </p>
            </div>
            
            <div class="col-md-12 mb-5 probootstrap-animate">
                <strong><h4>Entry Fee</h4></strong>
                <p>It's free for all students.</p>
            </div>
            
            <div class="col-md-12 mb-5 probootstrap-animate">
                <strong><h4>Timing</h4></strong>
                <p>
                    <em>5 Jan : </em>02:00pm to 06:00pm<br>
                    <em>6 Jan : </em>10:00am to 05:00pm<br>
                    <em>7 Jan : </em>05:00pm to 07:00pm<br>
                </p>
            </div>
            
            <div class="col-md-12 mb-5 probootstrap-animate">
                <strong><h4>Venue</h4></strong>
                <p>Electrical Seminar Hall</p>
            </div>
            
            <li>
                <strong>NOTE : </strong>
                Personal laptop is compulsory, make sure the batter is fully 
                charged and report at the venue @1pm if you don't have the software.
            </li>
        
        </div>
    </div>
</section>


<% include ../partials/footer %>