<% include ../partials/header %>


<section class="probootstrap_section" style="background-image:url(/assets/images/neonlife.jpg)">
    <div class="container">
        <div class="row justify-content-center mb-5">
            
            <div class="col-md-12 mb-5 probootstrap-animate">
                <h1>RC Racing & Automobile</h1>
            </div>
            
            <div class="col-md-12 mb-5 probootstrap-animate">
                <strong><h4>Event Structure</h4></strong>
                <p>
                    Complete study of automobile engineering.<br>
                    Detail study of IC engine.<Br>
                    Study of RC car components and its working procedure.<br> 
                    Making of wireless bot and operating hands on assembly of bot.<br>
                    All kit components will be provided.<br>
                    Exclusive workshop for beginners<br>                        
                </p>
            </div>
            
            <div class="col-md-12 mb-5 probootstrap-animate">
                <strong><h4>Date</h4></strong>
                <p>
                    19th & 20th January
                </p>
            </div>

            <div class="col-md-12 mb-5 probootstrap-animate">
                <strong><h4>Entry Fee</h4></strong>
                <p>
                    ₹1600/- In batch of 4
                </p>
            </div>
            
            <div class="col-md-12 mb-5 probootstrap-animate">
                <strong><h4>Event Head</h4></strong>
                <p>
                    Walmik Mande : +91 91756 06436
                </p>
            </div>
        
        </div>
    </div>
</section>


<% include ../partials/footer %>