<% include ../partials/header %>


<section class="probootstrap_section" style="background-image:url(/assets/images/neonlife.jpg)">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-12 mb-5 probootstrap-animate">
                <h1>RED HAT SYSTEM ADMINISTRATION (RH124) WORKSHOP </h1>
            </div>
            
            <div class="col-md-12 mb-5 probootstrap-animate">
                <a href="" role="button" class="btn" title="Registrations are Full">
                    Register
                </a> 
            </div>
            
            <div class="col-md-12 mb-5 probootstrap-animate">
                <strong><h4>Objectives</h4></strong>
                <p>
                    Red Hat System Administration I provides a foundation for 
                    students wishing to become full-time Linux system administrators by 
                    introducing key command line concepts and other enterprise-level tools. 
                    These concepts are further developed in the follow-on course, Red Hat 
                    System Administration II (RH134).  
                </p>
            </div>
            
            <div class="col-md-12 mb-5 probootstrap-animate">
                <strong><h4>Course Content Summary</h4></strong>
                <p>
                    1) Introduction to the command line.<br>
                    2) Managing physical storage.<br>
                    3) Learning how to install and configure software components and 
                    services.<br>
                    4) Establishing network connections and firewall access.<br>
                    5) Monitoring and managing processes.<br>
                    6) Managing and securing files.<br>
                    7) Administrating users and groups.<br>
                    8) Accessing Linux file systems.<br>
                    9) Installing and using virtualized systems.<br>
                    10) Reviewing the system log files and journal
                </p>
            </div>
            
            <div class="col-md-12 mb-5 probootstrap-animate">
                <strong><h4></h4></strong>
                <p>
                    <em>Date : </em>25th January 2019 to 27th January 2019<br>
                    <em>Duration : </em>4 hours/day<br>
                    <em>Timing : </em>10:00am to 02:30pm (Inclusive of lunch break)<br>
                </p>
            </div>
            
            <div class="col-md-12 mb-5 probootstrap-animate">
                <strong><h4>Schedule</h4></strong>
                <p>
                    <strong>DAY 1</strong><br>
                    <em>First session</em><br>
                    1) Introduction to the command line.<br>
                    2) Managing physical storage.<br>
                    <em>Second session</em><br>
                    3) Learning how to install and configure software components and 
                    services.<br>
                    4) Practice session<br>
                    <br>
                    <strong>DAY 2</strong><br>
                    <em>First session</em><br>
                    5) Learning how to install and configure software components and 
                    services.<br>
                    6) Monitoring and managing processes.<br>
                    <em>Second session</em><br>
                    7) Managing and securing files.<br>
                    8) Administrating users and groups.<br>
                    <br>
                    <strong>DAY 3</strong><br>
                    <em>First session</em><br>
                    9) Accessing Linux file systems.<br>
                    10) Installing and using virtualized systems.<br>
                    <em>Second session</em><br>
                    11) Reviewing the system log files and journal.<br>
                    12) Practice session.<br>
                </p>
            </div>
            
            <div class="col-md-12 mb-5 probootstrap-animate">
                <strong><h4>Entry Fee :</h4></strong>
                <p>₹200/- Per participant</p>
            </div>
            
            <div class="col-md-12 mb-5 probootstrap-animate">
                <strong><h4>Venue</h4></strong>
                <p>MCA Department</p>
            </div>

            <div class="col-md-12 mb-5 probootstrap-animate">
                <strong><h4>Event Head</h4></strong>
                <p>Rashi S. Gupta : +91 76209 95430</p>
            </div>
        
        </div>
    </div>
</section>


<% include ../partials/footer %>