<% include ../partials/header %>


<section class="probootstrap_section" id="individualevent">
  <div class="container">
    <div class="row justify-content-center mb-5">
      
      <div class="col-md-12 mb-5 probootstrap-animate">
        <h1>JUGAAD</h1>
      </div>
      
      <div class="col-md-12 mb-5 probootstrap-animate">
        <a href="https://www.thecollegefever.com/events/wings19" role="button" target="_blank" class="btn">
          Register
        </a> 
      </div>
        
      <div class="col-md-12 mb-5 probootstrap-animate">
        <strong><h4>Event structure</h4></strong>
        <p>
            1) Every team will be given equal sum of amount and in the time alloted, 
            team has to make maximum profit out of it.<br>
            2) The profit should be made by legal activities only.<br>
            3) We will ask every team in brief about their profit and how they made it.<br>
            4) There will be one coordinator with each team wherever they go. 
            Whole team needs to be in visible range of the coordinator. If at a 
            shopping market, team can split up without vehicles.<br>
            5) Participating team can make use of only 3 two wheeler vehicles 
            (if needed) to complete their task. Form your groups accordingly or else we 
            will make groups accordingly.<br>
            6) Profit made by team will remain to themselves. we will not take it.<br>
            7) At the end of the first round, every team must return the amount we 
            provided them in the beginning of the round.<br>
            8) Few Teams with more profit will be qualified for the next round.<br>               
            9) There will be 3 rounds in total, and details of remaining two rounds will 
            be given on time. The rest two rounds will be basically testing your presence 
            of mind, and your ability to react when found in any kind of problematic 
            situation.<br>
        </p>
      </div>
      
      <div class="col-md-12 mb-5 probootstrap-animate">
        <strong><h4>Rules</h4></strong>
        <p>
            1) Individual or Team entry is accepted.<br>
            2) A Team should consist of 5 members. If you don't have a team, 
            then we will form randomly.<br>
            3) Every participant/team should be present 30 min before the actual 
            time of event.<br>
            4) Use of any kind of physical resource is not allowed.<br>
            5) Team members will not be allowed to split up during the allotted time.<br>
            6) Mobile phones/Google search is not allowed in the given time span.<br>
            7) There will be one coordinator assigned for each team during the rounds.<br>
            8) All rounds should be played legally, there should not be any use of any 
            illegal means.
        </p>
      </div>

      <div class="col-md-12 mb-5 probootstrap-animate">
        <strong><h4>Entry Fee</h4></strong>
        <p>₹50/- Per participant</p>
      </div>
          
      <div class="col-md-12 mb-5 probootstrap-animate">
        <strong><h4>Prize</h4></strong>
        <p>Prizes worth ₹6000/-</p>
      </div>

      <div class="col-md-12 mb-5 probootstrap-animate">
        <strong><h4>Event Head</h4></strong>
        <p>
            Nikita Sarda : +91 72193 02140<br>
            Mayuri Mundada : +91 83080 18941<br>
            Ashwin Kawade : +91 98506 39281
        </p>
      </div>
    
    </div>
  </div>
</section>


<% include ../partials/footer %>