<% include ../partials/header %>


<section class="probootstrap_section" id="individualevent">
  <div class="container">
    <div class="row justify-content-center mb-5">
      
      <div class="col-md-12 mb-5 probootstrap-animate">
        <h1>PUBG</h1>
      </div>
      
      <div class="col-md-12 mb-5 probootstrap-animate">
        <a href="https://www.thecollegefever.com/events/wings19" role="button" target="_blank" class="btn">
          Register
        </a> 
      </div>
      
      <div class="col-md-12 mb-5 probootstrap-animate">
        <strong><h4>Rules</h4></strong>
        <p>
            1) AGE LIMIT 15+<br>
            2) THIS EVENT WILL BE PLAYED ONLINE. ANY INDIAN PLAYER CAN PARTICIPATE IN THIS 
            TOURNAMENT AND PLAY FROM COMFORT OF THEIR HOME.<br>
            3) PLAYERS CAN COMPETE IN THIS TOURNAMENT FROM ANYWHERE THEY WISH. THEY NEED 
            NOT TRAVEL TO AURANGABAD OR ANY OTHER PLACE FOR THEIR MATCHES.<br>
            4) ONLY TEAM LEADERS HAS TO REGISTER. CORDINATERS WILL CONTACT TEAM LEADER 
            AND HE HAS TO CO-ORDINATE WITH REST OF THE SQUAD MEMBERS AND SHARE DETAILS OF 
            OTHER SQUAD MEMBERS WITH ORGANISERS.<br>
            5) A CUSTOM ROOMS WILL BE CREATED ON TOURNAMENT DAY. TEAM LEADER AND HIS 
            TEAMMATES WILL HAVE TO JOIN THAT ROOM. ID AND PASSWORD OF THE ROOM WILL BE 
            SHARED WITH TEAM LEADERS VIA WHATSAPP ON TOURNAMENT DAY.<br>
            6) THOSE WHO ARE REGISTERING ARE REQUESTED TO ENTER VALID EMAIL ADDRESS AND 
            WHATSAPP NUMBERS.<br>
            7) PLAYERS TURNING UP LATE ARE NOT ALLOWED IN THE GAME WONT BE ISSUED ANY 
            REFUND.<br>
            8) THREATENING OR ABUSING GAME ADMINS CAN RESULT IN LEGAL ACTIONS.<br>
            9) PLAYERS HAVE TO MAKE SURE TO KEEP THEIR GAME UPDATED TO LATEST VERSION.<br>
            10) IN CASE OF ANY TECNICAL ISSUES FROM ORGANIZER END MATCHES CAN BE 
            RESHCHEDULED.<br>
            11) SCREENSHOTS ARE MANDATORY TO CHALLENGE RESULT BY CO-ORDINATERS.<br> 
            12) EMULATORS NOT ALLOWED.<br>
            13) IF 100 SQUAD WILL NOT COMPLETED THEN PRICES WILL CHANGES AS PER SQUAD.
        </p>
      </div>

      <div class="col-md-12 mb-5 probootstrap-animate">
        <strong><h4>Entry Fee</h4></strong>
        <p>₹150/- Per Squad</p>
      </div>
          
      <div class="col-md-12 mb-5 probootstrap-animate">
        <strong><h4>Prize</h4></strong>
        <p>Prizes worth ₹6000/-</p>
      </div>

      <div class="col-md-12 mb-5 probootstrap-animate">
        <strong><h4>Event Head</h4></strong>
        <p>
            Vijaysinh Mane : +91 77560 31766<br>
            Ajay Shep : +91 84118 85555<br>
            Gopal Reddy : +91 91452 52173
            
        </p>
      </div>
    
    </div>
  </div>
</section>


<% include ../partials/footer %>